<div
th:fragment="parent"
>
<h1>this is parent fragement</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptatibus. Fugit accusamus molestias sequi eaque ea suscipit numquam exercitationem aliquam, laborum molestiae reiciendis dignissimos veniam corrupti quasi deleniti maiores quod soluta doloremque, aut aperiam accusantium commodi quae. Molestiae accusamus illo optio, dolorum quam officiis nihil rem est doloremque iure illum atque? Odit magnam asperiores perferendis. Cupiditate optio nobis modi tempore pariatur, inventore, perspiciatis consequatur atque culpa suscipit officiis quasi doloremque quia tenetur ea, assumenda id nulla aperiam accusantium rem. Voluptas accusamus placeat tempore obcaecati voluptates vitae, minus officia harum, vero consequuntur temporibus error eveniet est voluptatum quo neque. Laudantium, alias!</p>
</div>